.client-list {
  display: flex;
  gap: 30px;
}

.client-link {
  display: flex;
    justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--transition-dur-func), border var(--transition-dur-func);

  &:hover, &:focus {
  border: 1px solid var(--title-text-color-accent);
  color: var(--title-text-color-accent);
}
  }


.client-icon {
width: 106px;
height: 60px;
fill: currentColor; 
}