.footer-form {
  text-align: center;
  align-items: baseline;
}


.email-field__input {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 16px;
  font-size: 16px;
  color: var(--text-color-dark-bkg);
  transform: border-color var(--transition-dur-func);

&:focus {
  outline: none;
  border-color: var(--button-hover);
}
}



.email-field__btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: var(--title-text-color-accent);
  border: 1px solid var(--title-text-color-accent);
  border-radius: 4px;
  color: var(--title-text-color-dark-bkg);
  font-weight: 700;
  font-size: 16px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}

.email-field__btn-icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    margin: 0 auto;
  }
  .email-field__input {
    width: 450px;
  margin-left: auto;
  margin-right: auto;
  }

  // .email-field {
  //     text-align: center;
  // }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    // flex-direction: column;
    // flex-wrap: nowrap;
  }

  .email-field {
    display: flex;
  }
  .email-field__input {
    width: 354px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
  .footer-invitation__text {
    text-align: left;
  }

  .email-field__btn-submit {
    margin-top: 0;
  }
}