.logo__header {
  display: flex;
  align-items: center;
    color: var(--black-color);
  &_accent {
  color: var(--title-text-color-accent);
}
}

.header {
border-bottom: 1px solid var(--border-header);
}

.page-header {
  height: 60px;
  display: flex;
  align-items: center;
}

.mobile-menu-open {
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
  line-height: 0;
  transition: fill var(--title-text-color);

  &:hover,
  &:focus {
    fill: var(--title-text-color-accent);
  }
}

  .menu__list {
    display: none;
  }

  .contact-header__link {
    display: none;
  }



@media screen and (min-width: 768px) {
.mobile-menu-open {
  display: none;
}

.page-header {
  height: 80px;
}

.page-nav {
  display: flex;
  flex-direction: flex-start;
  align-items: center;
}

.menu__list {
  display: flex;
  margin-left: 88px;
  gap: 50px;
}

.menu__link {
  position: relative;
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-dur-func);

  &:hover, &:focus {
  color: var(--title-text-color-accent);
}
}

.contact-header {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
  }

  .contact-header__link {
    display: flex;
    // align-items: baseline;
    justify-content: flex-end;
    color: var(--text-color);
    font-weight: 500;
    line-height: 0.9;
    transition: color var(--transition-dur-func);

    &:hover,
    &:focus {
      color: var(--title-text-color-accent);
    }
  }

  .contact__icon {
    fill: currentColor;
    margin-right: 8px;
    line-height: 0;
  }

.menu__link_current {
  color: var(--title-text-color-accent);

&::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -33px;
  left: 0;
  border-radius: 2px;
  background-color: var(--title-text-color-accent);
}
}

.contact__link {
  display: flex;
  align-items: center;
  font-size: 12px;
}
}

@media screen and (min-width: 1200px) {
  .menu__list {
    margin-left: 92px;
  }

  .contact-header {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
  }

  .contact__icon {
    margin-right: 10px;
  }

  .contact__link {
  font-size: 14px;
}
}



