
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: translate(-50%, -50%);
  min-height: 580px;
  min-width: 528px;
  background-color: var(--white-color);
  border-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  transition: border-color var(--transition-dur-func);

  &:hover, &:focus {
  border-color: var(--button-hover);
}

&:hover .icon-close,
&:focus .icon-close {
  fill: var(--button-hover);
}
}


.icon-close {
  fill: var(--black-color);
  transition: fill var(--transition-dur-func);
}