body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background-color: var(--white-color);
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

button {
cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--title-text-color);
}

.link {
  text-decoration: none;
  color: inherit;
  margin: 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}


